<!--
  Generated template for the BackpackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
	  <ion-title (click)="this.modalCtrl.create('NewbackpackPage', {'backpack':null}).present()">Backpack       <ion-icon name="arrow-dropdown"></ion-icon></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<h1>{{this.auth.authenticated()?'YES':'NO!'}}</h1>
	<h1>{{this.auth.getEmail()}} </h1>
	
	<ng-container  *ngIf="this.invent.boolInventoryHasBackpacks() && this.invent.calculateBackpackWeights() && this.invent.getSelectedBackpack() as backpack">
	
		
		
		
		
		<ion-card>
			<ion-item no-lines>
				<h1>{{backpack.name}}</h1><ion-icon name="create" item-end (click)="this.app.getRootNav().push('NewbackpackPage', {'backpack':backpack})"></ion-icon>&nbsp;&nbsp;&nbsp;&nbsp;
					<ion-icon name="list" item-end (click)="this.app.getRootNav().push('NewbackpackPage', {'backpack':null})"></ion-icon>
				</ion-item>
			
			
			
			<ion-grid>
				<ion-row>
					<ion-col>
						<ion-label stacked>Items</ion-label>{{this.invent.countBackpackItems(backpack)}}
					</ion-col>
					<ion-col *ngIf="this.invent.getSelectedInventorySettings().useWeights">
						<ion-label stacked>Total weight</ion-label>{{backpack.totalWeight}}
					</ion-col>
					<ion-col *ngIf="this.invent.getSelectedInventorySettings().useWeights">
						<ion-label stacked>Base weight</ion-label>{{backpack.baseWeight}}
					</ion-col>
				</ion-row>
			</ion-grid>
		</ion-card>	

		
		
		
		
		<ion-list *ngFor="let cat of this.invent.getCategories()">	

			<ion-list-header style="font-weight: bold; font-size: 11pt">
				<ion-icon item-start small [name]="cat.show ? 'arrow-dropdown' : 'arrow-dropright'" (click)="cat.show = cat.show ? false : true"></ion-icon>
				{{cat.name}} ({{this.invent.countBackpackItemsByCategory(backpack, cat)}}/{{this.invent.countItemsByCategory(cat)}}) 
				
				<ng-container *ngIf="this.invent.getSelectedInventorySettings().useWeights">
					 - {{this.invent.calculateBackpackWeightByCateogry(backpack, cat)}} gr
				</ng-container>
				
				<button ion-button item-end small clear (click)="newItemToCategory(cat)"><ion-icon name="add"></ion-icon></button>
			</ion-list-header>


			<ng-container *ngIf="cat.show">
				<ng-container *ngFor="let item of this.invent.getItems(cat)" >
					
					
					<ion-item-sliding *ngIf="this.invent.itemIsInBackpack(item, backpack) as param" #slidingItem>
					
						<ion-item [style.background-color]="param.background" (press)="itemPressed(item, cat)" (click)="addRemoveItem(item, backpack, param.action, slidingItem)">
							<ion-grid item-content>
								<ion-row style="padding-bottom:0; margin-bottom:0">
									<ion-col style="padding-bottom:0">
										<h3 [style.color]="param.color" style="font-weight:bold;" >{{item.name}}</h3>
									</ion-col>
								</ion-row>
								<ion-row style="padding-top:0; padding-bottom:0; margin-top: 0; margin-bottom:0" *ngIf="this.invent.getSelectedInventorySettings().useWeights">
									<ion-col style="padding:0">
										<ion-label stacked>Description</ion-label>{{item.description}}
									</ion-col>
									<ion-col style="padding:0">
										<ion-label stacked>Weight</ion-label>{{item.weight}} gr
									</ion-col>
								</ion-row>
							</ion-grid>
						</ion-item>
						
						<ion-item-options side="left" (ionSwipe)="addRemoveItem(item, backpack, param.action, slidingItem)">
							<button ion-button (click)="addRemoveItem(item, backpack, param.action, slidingItem)">Add/remove</button>
						</ion-item-options>
					</ion-item-sliding>
					
					
				</ng-container>
			</ng-container>


		</ion-list>
		
	</ng-container>
	
	<ng-container *ngIf=" !this.invent.boolInventoryHasBackpacks()">
		<h1>No backpacks created</h1>
		<br />
		<button ion-button block outline (click)="this.app.getRootNav().push('NewbackpackPage')">Create first backpack</button>
	</ng-container>
	
</ion-content>
