<ion-header>

  <ion-navbar>
    <ion-title>Inventory: {{this.invent.settings.selectedInventory}}</ion-title>
    <ion-buttons end>
        <button ion-button (click)="selectInventory()">
            <ion-icon name="book"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
    <ion-list *ngFor="let cat of this.invent.getCategories()">
	
        <ion-item-divider style="font-weight: bold; font-size: 13pt; ">{{cat.name}}
            <button ion-button item-end small round outline (click)="newItemToCategory(cat)"><ion-icon name="add"></ion-icon></button>
        </ion-item-divider>
        

        <ion-item *ngFor="let item of this.invent.getItems(cat); let i=index">
                <h2 style="color:green; font-weight:bold;" (click)="itemTapped(item, cat)">{{item.name}}</h2>
                <p>{{item.description}} - {{item.weight.toString()}} gr</p>
            <!--<button ion-button round outline item-end (click)="removeItem($event, item)"><ion-icon name="backspace"></ion-icon></button>-->
            <ion-icon item-end small name="close" color="primary" (click)="removeItem($event, item)"></ion-icon>
        </ion-item>
    </ion-list>
	

	
	<!--<ion-fab bottom right>
        <button ion-fab (click)="addButtonClicked($event)"><ion-icon name="add"></ion-icon></button>
    </ion-fab>-->
</ion-content>